html,
body {
  min-width: 320px;
  font-family: Roboto, Tahoma, Arial, sans-serif;
  font-size: $fsz-base;
  font-weight: 100;
  color: #8f8e91;
  background-color: #fffcf4;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  min-width: 320px;
  max-width: $bp-xlarge;
  position: relative;
  margin: 0 auto;
  padding: 0 $indent;
  text-align: center;
  @include clearfix;
}


/********** Responsive ******/
/*
@include respond(mobile) {
  h1 {
    font-size: 24px;
    color: green;

    &::first-letter {
      font-size: 37px;
    }
  }
}

@include respond(tablet) {
  h1 {
    font-size: 32px;
    color: yellow;

    &::first-letter {
      font-size: 47px;
    }
  }
}

@include respond(desktop) {
  h1 {
    font-size: 40px;
    color: red;

    &::first-letter {
      font-size: 55px;
    }
  }
}

@include respond(desktop-all) {
  h1 {
    color: blue;
  }
}
*/