.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0 10px 20px;
  padding: 10px 20px;
  font-family: $ffam-base;
  font-size: $fsz-base;
  font-weight: 100;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: $color-main;
  border: none;
  outline: none;

  @include respond(mobile) {
    padding: 10px 15px;
  }

  &:hover {
    background-color: $color-secondary;
  }

  &:active {
    background-color: rgba($color-secondary, $opacity-btn);
  }

  &--transparent {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;

    &:hover {
      color: #fff;
      background-color: $color-main;
      border-color: transparent;
    }

    &:active {
      color: #fff;
      background-color: rgba($color-main, $opacity-btn);
      border-color: transparent;
    }

  }



}