.desc {
  &__list {
    @include ul-clear;
    margin-bottom: 30px;
  }

  &__item {
    font-weight: 100;
    font-size: 14px;

    & + & {
      margin-top: 15px;

      @include respond(mobile) {
        margin-top: 10px;
      }
    }
  }
}