.page-header {
  position: relative;
  @include clearfix;
  background: #050403 url('../img/bg-header.jpg') center center no-repeat;
  background-size: cover;
  
  &::before {
    content: '';
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: rgba(#fff, 0.17);

    @include respond(tablet-small) {
      top: 60px;
    }
  }

  &__inner {
    @include container;
    overflow: hidden;
  }

  &__top {
    position: relative;
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;

    @include respond(tablet-small) {
      height: 60px;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    height: 680px;

    @include respond(mobile) {
      height: calc(100vh - 60px);
    }
  }

  &__text {
    margin: auto;
    text-align: center;
  }

  &__slogan {
    margin-top: 0;
    font-family: Exo, "Arial Black", sans-serif;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #fff;

    @include respond(mobile) {
      padding-right: 20px;
      padding-left: 20px;
      font-size: 40px;
    }

    span {
      font-weight: 700;
      text-transform: uppercase;
      color: $color-main;
    }
  }

  p {
    width: 78%;
    margin: 0 auto;
    font-family: $ffam-base;
    font-weight: 300;
  }

  &__logo {
    display: block;
    margin-left: 30px;
    font-size: 0;

    @include respond(mobile) {
      margin-left: $indent;
    }

    svg {
      width: 137px;
      height: auto;
      transition: transform 0.3s;

      @include respond(tablet-small) {
        width: 100px;
      }
    }

    &:hover,
    &:focus {
      svg {
        transform: rotate3d(0,1,0, 360deg);
        transition: transform 0.3s;
      }
    }

    &:active {
      opacity: 0.6;
    }
  }

}
