.page-footer {
  background: #0b0a0a;

  &__inner {
    padding: 40px 30px 0;

    @include respond(mobile) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;

    @media (max-width: 850px) {
      flex-wrap: wrap;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    font-size: $fsz-base;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
  }

  &__about {
    flex-basis: 37.17%;
    max-width: 37.17%;

    @media (max-width: 850px) {
      flex-basis: 60%;
      max-width: 60%;
      margin-bottom: 30px;
    }

    @include respond(mobile) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__nav {
    flex-basis: 29.74%;
    max-width: 29.74%;

    @media (max-width: 850px) {
      flex-basis: 40%;
      max-width: 40%;
    }

    @include respond(mobile) {
      flex-basis: 100%;
      max-width: 100%;
    }
  }

  &__other {
    flex-basis: 28.03%;
    max-width: 28.03%;

    @media (max-width: 850px) {
      display: flex;
      justify-content: space-between;
      flex-basis: 100%;
      max-width: 100%;

      .page-footer__socials {
        flex-basis: 48%;
      }

      .page-footer__subscribe {
        flex-basis: 40%;
      }
    }

    @include respond(mobile) {
      flex-wrap: wrap;

      .page-footer__socials {
        flex-basis: 100%;
      }

      .page-footer__subscribe {
        flex-basis: 100%;
      }
    }
  }

  &__text {
    max-width: 300px;
    margin: 0;
    font-size: 14px;
    line-height: 2;

    @media (max-width: 850px) {
      max-width: 90%;
    }
  }

  &__form {
    max-width: 250px;

    @include respond(mobile) {
      max-width: 100%;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 1px solid rgba(#fff, 0.5);
    padding: 16px;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 100;
    text-transform: capitalize;
    @include placeholder-color($color-gray);

    &:focus {
      border-color: $color-main;
    }
  }


  &__copyright {
    background-color: #000;
    font-size: 14px;
    text-align: center;

    p {
      max-width: $bp-xlarge;
      padding: 30px;

      @media (max-width: 850px) {
        padding: 20px;
      }

      @include respond(mobile) {
        padding: 10px;
      }
    }
  }
}