.pricing {
  color: $color-secondary;

  &__list {
    @include ul-clear;
    display: flex;
    justify-content: space-between;

    @include respond(tablet-small) {
      flex-wrap: wrap;
    }
  }

  &__item {
    width: 25%;
    flex-shrink: 1;
    margin: 0 10px 40px;

    @include respond(mobile) {
      width: 45%;
      margin-left: 2.5%;
      margin-right: 2.5%;
    }

    .btn {
      font-size: 14px;
    }

    &--active {

      .pricing__title {
        color: $color-main;
      }

      .pricing__block {
        border: 1px solid $color-main;
      }

      .pricing__amount {
        color: #fff;
        background-color: $color-main;
        border-color: $color-main;
      }
      
      .btn {
        color: #fff;
        background-color: $color-main;
        border-color: $color-main;

        &:hover,
        &:focus {
          background-color: $color-secondary;
          border-color: $color-secondary;
        }
      }

    }
  }

  &__title {
    margin: 0 0 30px 0;
    font-weight: 300;
    font-size: 14px;

    @include respond(mobile) {
      margin-bottom: 15px;
    }
  }
  
  &__amount {
    font-family: 'Roboto Slab', serif;
    border: 1px solid $color-gray;
    padding: 15px;
    margin-bottom: 20px;

    @include respond(mobile) {
      padding: 8px;
    }
  }

  &__currency {
    position: relative;
    top: -15px;
    right: -3px;
    font-weight: 400;
    font-size: 24px;

    @include respond(mobile) {
      font-size: 18px;
      top: -12px;
    }
  }

  &__number {
    font-weight: 400;
    font-size: 36px;

    @include respond(mobile) {
      font-size: 28px;
    }
  }

  &__period {
    position: relative;
    bottom: -5px;
    left: -5px;
    font-size: 14px;
  }


}