.section {
  text-align: center;

  &__inner {
    @include container;
    padding-top: 90px;
    padding-bottom: 0;

    &--works {
      max-width: 1173px;
    }

    &--pricing {
      padding: 65px 0 125px 0;
    }
  }

  &__header {
    margin-top: 25px;
    margin-bottom: 60px;
    padding-left: $indent;
    padding-right: $indent;
    color: $color-secondary;
    font-size: 30px;
    font-weight: 500;

    &--team {
      margin-top: 0;
    }

    span {
      color: $color-main;
      text-transform: uppercase;
    }

    @include respond(tablet-small) {
      width: 100%;
      padding-left: $indent;
      padding-right: $indent;
    }
  }

  &__text {
    width: 75%;
    padding-left: $indent;
    padding-right: $indent;
    margin: 0 auto 60px;

    @include respond(tablet-small) {
      width: 100%;
    }
  }
}