.servises {
    @include ul-clear;
    display: flex;
    flex-wrap: wrap;

    @include respond(desktop) {
      padding-right: $indent;
      padding-left: $indent;
    }

  &__item {
    width: 30%;
    margin-right: 5%;
    margin-bottom: 5%;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include respond(tablet-small) {
      width: 47.5%;

      &:nth-child(3n) {
        margin-right: 5%;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }
    }

    @include respond(mobile) {
      width: 100%;
      margin-right: 0;

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:nth-child(3n) {
        margin-right: 0;
      }
    }

  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-gray;
    text-decoration: none;
    text-align: center;
    border: 1px solid $color-gray;

    &:hover {
      border: 1px solid $color-main;
      box-shadow: 0 0 0 1px $color-main;

      .servises__title {
        color: $color-main;
      }

      .servises__desc {
        color: $color-secondary;
      }

      svg {
        fill: $color-main;

        .cls-1 {
          fill: $color-main;
        }
      }
    }
  }

  &__icon {
    margin-bottom: 15px;
    margin-top: 30px;

    @include respond(mobile) {
      margin-top: 15px;
      margin-bottom: 5px;
    }

    svg {
        fill: $color-secondary;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 24px;
    color: $color-secondary;

    @include respond(mobile) {
      margin-bottom: 15px;
    }
  }

  &__desc {
    padding: 0 10px;
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 2;

    @include respond(mobile) {
      margin-bottom: 10px;
    }
  }
}